<div class="alert alert-secondary mt-4" role="alert">
    <strong>@Title</strong>

    @if (ehsApiVersion == null)
    {
        <p><em>Loading...</em></p>
    } else {
        <p>EHS API Version:@ehsApiVersion</p>
    }
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }

    private string ehsApiVersion = null;

    public class ResponseType {
        public string version {get;set;}
    }

    protected override async Task OnInitializedAsync()
    {
        // To use NewtonsoftJsonSerializer, add a reference to NuGet package GraphQL.Client.Serializer.Newtonsoft
        var graphQLClient = new GraphQLHttpClient("https://ehsapi.herokuapp.com/api", new NewtonsoftJsonSerializer());

        var versionRequest = new GraphQL.GraphQLRequest {
            Query = @"
            {
	            version
            }"
        };

        var graphQLResponse = await graphQLClient.SendQueryAsync<ResponseType>(versionRequest);
        ehsApiVersion = graphQLResponse.Data.version;
    }

}
