<table>
    <tr><td colspan = 2>
        Joker
    </td><tr><td>
    <tr><td colspan = 2>
        <button class="btn btn-default" id="nextjoke" onclick="clickNextJoke()">Get Next Joke</button>
        <button class="btn btn-default" id="showpunchline" onclick="clickShowPunchline()">Show The Punchline</button>
    </td><tr><td>
        <p id="joketext"></p>
    </td><tr><td>
        <p id="jokepunchline" style="display: none"></p>
    </td></tr>
</table>
